<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>

<h4>로그인</h4>
<form action="/login" method="post">
    id : <input type="text" name="id" placeholder="id">
    pw : <input type="password" name="password" placeholder="비밀번호">
    <button type="submit">로그인</button>
</form>
<hr/>

<h4>회원가입</h4>
<form action="/login" method="post">
    id : <input type="text" name="id" placeholder="id">
    pw : <input type="password" name="password" placeholder="비밀번호">
    email : <input type="text" name="email" placeholder="이메일">
    <button type="submit">로그인</button>
</form>
<hr/>

</body>
</html>